:root {
  color-scheme: dark;
}

body {
  background-color: #0f1117 !important;
  color: #e6e8ff !important;
}

body a,
body .wy-side-nav-search input,
body .wy-nav-content a,
body .md-content a,
body .wy-nav-side a {
  color: #8ab4f8 !important;
}

body .wy-nav-side,
body .wy-nav-top,
body .wy-side-nav-search,
body .md-footer,
body .md-content section {
  background-color: #11151f !important;
}

body .wy-breadcrumbs,
body .wy-side-nav-search input,
body .md-footer,
body .md-content table,
body .md-content table th,
body .md-content table td,
body .wy-nav-side .current {
  border-color: #22253b !important;
}

body .highlight,
body .md-code-block,
body pre,
body code {
  background: #161b2f !important;
  color: #e6e8ff !important;
}

body .md-content blockquote,
body .wy-nav-side,
body .wy-nav-top,
body .wy-side-nav-search,
body .md-footer,
body .md-content section,
body .md-content .admonition {
  border-color: #333a57 !important;
}
